[Member]
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'].split(':')[0] }}:2380,http://localhost:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'].split(':')[0] }}:2379,http://localhost:2379"
ETCD_NAME="{{ hostvars[inventory_hostname]['name'] }}"

[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'].split(':')[0] }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'].split(':')[0] }}:2379"
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd_clusters'] %}etcd{{ loop.index }}=http://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
